*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gill Sans MT";
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

:root {
  --color-primary: #1d1c20;
  --color-white: #ffffff;
  --color-blue: #3c60a3;
  --color-blue-dark: #2e497a;
  --gradient-primary: #00000086, transparent;
}

.site .navigation {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
}

.site .navigation__logo {
  font-size: 2.5rem;
  font-family: "Brush Script MT";
  -webkit-box-flex: 3;
      -ms-flex: 3 1 25rem;
          flex: 3 1 25rem;
}

.site .navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
}

.site .hero {
  width: 100vw;
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-primary))), url(./assets/trust-tru-katsande-WUMSuerEjfM-unsplash.jpg);
  background: linear-gradient(var(--gradient-primary)), url(./assets/trust-tru-katsande-WUMSuerEjfM-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

.site .hero__content {
  height: 100%;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site .hero__content--title {
  font-size: 5rem;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.site .hero__content--subtext {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.site .hero__content--btn {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: none;
  padding: 1.3rem 8rem;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.site .hero__content--btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.6rem 1rem black;
          box-shadow: 0 0.6rem 1rem black;
  background-color: var(--color-blue-dark);
  color: var(--color-dar);
}

.site .hero__content--btn:focus {
  outline: none;
}

.site .hero__content--btn:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.site .citySection {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-primary))), url(./assets/grayscale-photo-of-people-between-buildings-1217258.jpg);
  background: linear-gradient(var(--gradient-primary)), url(./assets/grayscale-photo-of-people-between-buildings-1217258.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site .citySection__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 8rem 15rem 0 0;
}

.site .citySection__content--title {
  font-size: 5rem;
  border-bottom: var(--color-primary) 0.5rem solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 0.5rem;
  margin-bottom: 4rem;
}

.site .citySection__content--subtext {
  font-size: 1.5rem;
}

.site .citySection__cloud {
  height: 21rem;
  margin-left: 5.5rem;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: url(./assets/hiclipart.com.png);
  opacity: 50%;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-animation: cloudAnimation 10s infinite ease-in-out alternate;
          animation: cloudAnimation 10s infinite ease-in-out alternate;
}

.site .cardSection {
  height: 100vh;
}

.site .cardSection__title {
  background-color: var(--color-primary);
  height: 30%;
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site .cardSection__title--heading {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.site .cardSection__title--subtext {
  font-size: 1.5rem;
}

@media screen and (max-width: 1054px) {
  .site .citySection {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site .citySection__content {
    margin: 0;
  }
  .site .citySection__content--title {
    width: 100%;
    text-align: center;
  }
  .site .citySection__content--subtext {
    text-align: center;
  }
  .site .citySection__cloud {
    margin: 0;
  }
}

@media screen and (max-width: 560px) {
  .site .citySection__cloud {
    height: 16rem;
  }
  .site .citySection__content--title {
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 580px) {
  .site .navigation {
    text-align: center;
  }
  .site .navigation__logo {
    margin-bottom: 3rem;
  }
  .site .hero__content--title {
    font-size: 4rem;
  }
  .site .hero__content--subtext {
    font-size: 1.3rem;
  }
  .site .hero__content--btn {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 376px) {
  .site .hero__content--title {
    font-size: 3.5rem;
  }
  .site .hero__content--subtext {
    font-size: 1.2rem;
  }
  .site .hero__content--btn {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .site .citySection__cloud {
    height: 12rem;
  }
  .site .citySection__content--title {
    font-size: 4rem;
  }
  .site .citySection__content--subtext {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 330px) {
  .site .hero__content--title {
    font-size: 3rem;
  }
  .site .hero__content--subtext {
    font-size: 1.1rem;
  }
  .site .hero__content--btn {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes cloudAnimation {
  0% {
    -webkit-transform: translate(-10%, -5%);
            transform: translate(-10%, -5%);
  }
  50% {
    -webkit-transform: translate(20%, 1%);
            transform: translate(20%, 1%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes cloudAnimation {
  0% {
    -webkit-transform: translate(-10%, -5%);
            transform: translate(-10%, -5%);
  }
  50% {
    -webkit-transform: translate(20%, 1%);
            transform: translate(20%, 1%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
/*# sourceMappingURL=style.css.map */